<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shuaijie.musicplayer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />

        <service
            android:name=".service.PlayService"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="com.shuaijie.musicplayer.musicservice" />
            </intent-filter>
        </service>


        <activity android:name=".ui.PlayActivity" />
        <activity android:name=".ui.MyCollectMusicActivity" />
        <activity android:name=".ui.PlayRecordMusicActivity" />
        <activity android:name=".ui.FeedBackActivity" />
        <activity android:name=".ui.AboutActivity" />

        <receiver
            android:name=".receiver.MusicReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.shuaijie.musicplayer.next" />
                <action android:name="com.shuaijie.musicplayer.pause" />
                <action android:name="com.shuaijie.musicplayer.prev" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.MusicIntentReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
    </application>

</manifest>